In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("D:\kanb.csv")

In [3]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [5]:
X

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,383,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,442,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6

In [6]:
Y

0         no
1         no
2         no
3         no
4         no
        ...
41183    yes
41184     no
41185     no
41186    yes
41187     no
Name: y, Length: 41188, dtype: object

In [7]:
X=pd.get_dummies(df,columns=['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome'],drop_first=True)

In [8]:
X

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,True,False,False,False,True,False,False,False,True,False
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,True,False,False,False,True,False,False,False,True,False
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,True,False,False,False,True,False,False,False,True,False
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,True,False,False,False,True,False,False,False,True,False
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,True,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,False,True,False,False,False,False,False,False,True,False
41184,46,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,False,True,False,False,False,False,False,False,True,False
41185,56,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,False,True,False,False,False,False,False,False,True,False
41186,44,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,False,True,False,False,False,False,False,False,True,False
41187,74,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,...,False,True,False,False,False,False,False,False,False,False

In [9]:
Y=pd.DataFrame(np.where(Y=='yes',1,0),columns=['y'])

In [10]:
Y

       y
0      0
1      0
2      0
3      0
4      0
...   ..
41183  1
41184  0
41185  0
41186  1
41187  0

[41188 rows x 1 columns]

In [11]:
X

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,True,False,False,False,True,False,False,False,True,False
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,True,False,False,False,True,False,False,False,True,False
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,True,False,False,False,True,False,False,False,True,False
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,True,False,False,False,True,False,False,False,True,False
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,True,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,False,True,False,False,False,False,False,False,True,False
41184,46,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,False,True,False,False,False,False,False,False,True,False
41185,56,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,False,True,False,False,False,False,False,False,True,False
41186,44,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,False,True,False,False,False,False,False,False,True,False
41187,74,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,...,False,True,False,False,False,False,False,False,False,False

In [12]:
X.drop(columns=['y'],inplace=True)

In [13]:

import numpy as np
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [15]:

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [16]:
dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)

print("Decision Tree accuracy",accuracy_score(y_test,y_pred))

Decision Tree accuracy 0.8915999028890508

In [17]:

from sklearn.ensemble import RandomForestClassifier

In [18]:

rf = RandomForestClassifier(n_estimators=500, random_state=42)
rf.fit(X_train, y_train)

C:\Users\PRAJWAL\AppData\Local\Temp\ipykernel_17312\2861972261.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=500, random_state=42)

# Random Forest without hyperparameter tuning

In [19]:
y_pred = rf.predict(X_test)

print("Random forest accuracy",accuracy_score(y_test,y_pred))

Random forest accuracy 0.9167273610099539

In [20]:
y_pred_train = rf.predict(X_train)

print("Random forest accuracy",accuracy_score(y_train,y_pred_train))

Random forest accuracy 1.0

In [21]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            41188 non-null  int64
 1   duration                       41188 non-null  int64
 2   campaign                       41188 non-null  int64
 3   pdays                          41188 non-null  int64
 4   previous                       41188 non-null  int64
 5   emp.var.rate                   41188 non-null  float64
 6   cons.price.idx                 41188 non-null  float64
 7   cons.conf.idx                  41188 non-null  float64
 8   euribor3m                      41188 non-null  float64
 9   nr.employed                    41188 non-null  float64
 10  job_blue-collar                41188 non-null  bool
 11  job_entrepreneur               41188 non-null  bool
 12  job_housemaid                  41188 non-null  bool
 13  job_management                 41188 non-null  bool
 14  job_retired                    41188 non-null  bool
 15  job_self-employed              41188 non-null  bool
 16  job_services                   41188 non-null  bool
 17  job_student                    41188 non-null  bool
 18  job_technician                 41188 non-null  bool
 19  job_unemployed                 41188 non-null  bool
 20  job_unknown                    41188 non-null  bool
 21  marital_married                41188 non-null  bool
 22  marital_single                 41188 non-null  bool
 23  marital_unknown                41188 non-null  bool
 24  education_basic.6y             41188 non-null  bool
 25  education_basic.9y             41188 non-null  bool
 26  education_high.school          41188 non-null  bool
 27  education_illiterate           41188 non-null  bool
 28  education_professional.course  41188 non-null  bool
 29  education_university.degree    41188 non-null  bool
 30  education_unknown              41188 non-null  bool
 31  default_unknown                41188 non-null  bool
 32  default_yes                    41188 non-null  bool
 33  housing_unknown                41188 non-null  bool
 34  housing_yes                    41188 non-null  bool
 35  loan_unknown                   41188 non-null  bool
 36  loan_yes                       41188 non-null  bool
 37  contact_telephone              41188 non-null  bool
 38  month_aug                      41188 non-null  bool
 39  month_dec                      41188 non-null  bool
 40  month_jul                      41188 non-null  bool
 41  month_jun                      41188 non-null  bool
 42  month_mar                      41188 non-null  bool
 43  month_may                      41188 non-null  bool
 44  month_nov                      41188 non-null  bool
 45  month_oct                      41188 non-null  bool
 46  month_sep                      41188 non-null  bool
 47  day_of_week_mon                41188 non-null  bool
 48  day_of_week_thu                41188 non-null  bool
 49  day_of_week_tue                41188 non-null  bool
 50  day_of_week_wed                41188 non-null  bool
 51  poutcome_nonexistent           41188 non-null  bool
 52  poutcome_success               41188 non-null  bool
dtypes: bool(43), float64(5), int64(5)
memory usage: 4.8 MB

# Random Forest with hyperparameter tuning

In [ ]:
# Number of trees in random forest
n_estimators = [20,60,100,120]

# Number of features to consider at every split
max_features = [0.2,0.6,1.0]

# Maximum number of levels in tree
max_depth = [2,8,None]

# Number of samples
max_samples = [0.5,0.75,1.0]

# 108 diff random forest train

In [ ]:
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
              'max_samples':max_samples
             }
print(param_grid)

In [ ]:
rf = RandomForestClassifier()

In [ ]:
from sklearn.model_selection import GridSearchCV

rf_grid = GridSearchCV(estimator = rf, 
                       param_grid = param_grid, 
                       cv = 5, 
                       verbose=2, 
                       n_jobs = -1)

In [ ]:
rf_grid.fit(X_train,y_train)

# Hyper Parameter tuning using random search cv

In [22]:
# Number of trees in random forest
n_estimators = [20,60,100,120]

# Number of features to consider at every split
max_features = [0.2,0.6,1.0]

# Maximum number of levels in tree
max_depth = [2,8,None]

# Number of samples
max_samples = [0.5,0.75,1.0]

# Bootstrap samples
bootstrap = [True,False]

# Minimum number of samples required to split a node
min_samples_split = [2, 5]

# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2]

In [23]:
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
              'max_samples':max_samples,
              'bootstrap':bootstrap,
              'min_samples_split':min_samples_split,
              'min_samples_leaf':min_samples_leaf
             }
print(param_grid)

{'n_estimators': [20, 60, 100, 120], 'max_features': [0.2, 0.6, 1.0], 'max_depth': [2, 8, None], 'max_samples': [0.5, 0.75, 1.0], 'bootstrap': [True, False], 'min_samples_split': [2, 5], 'min_samples_leaf': [1, 2]}

In [25]:
from sklearn.model_selection import RandomizedSearchCV

rf_grid = RandomizedSearchCV(estimator = rf, 
                       param_distributions = param_grid, 
                       cv = 5, 
                       verbose=2, 
                       n_jobs = -1)

In [26]:
rf_grid.fit(X_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

C:\Users\PRAJWAL\miniconda3\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
30 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\PRAJWAL\miniconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\PRAJWAL\miniconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 397, in fit
    raise ValueError(
ValueError: `max_sample` cannot be set if `bootstrap=False`. Either switch to `bootstrap=True` or set `max_sample=None`.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\PRAJWAL\miniconda3\lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan 0.91617602        nan
 0.91493171 0.90467375        nan 0.89772382]
  warnings.warn(
C:\Users\PRAJWAL\miniconda3\lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=5,
                   estimator=RandomForestClassifier(n_estimators=500,
                                                    random_state=42),
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [2, 8, None],
                                        'max_features': [0.2, 0.6, 1.0],
                                        'max_samples': [0.5, 0.75, 1.0],
                                        'min_samples_leaf': [1, 2],
                                        'min_samples_split': [2, 5],
                                        'n_estimators': [20, 60, 100, 120]},
                   verbose=2)

In [27]:
rf_grid.best_params_

{'n_estimators': 60,
 'min_samples_split': 5,
 'min_samples_leaf': 1,
 'max_samples': 0.5,
 'max_features': 1.0,
 'max_depth': 8,
 'bootstrap': True}

In [28]:
rf_grid.best_score_

0.916176024279211

In [29]:
y_pred = rf_grid.predict(X_test)

print("Random forest accuracy",accuracy_score(y_test,y_pred))

Random forest accuracy 0.9209759650400583

In [30]:
y_pred_train = rf.predict(X_train)

print("Random forest accuracy",accuracy_score(y_train,y_pred_train))

Random forest accuracy 1.0

# OOB_SCORE

In [31]:
rf = RandomForestClassifier(oob_score=True)

In [32]:
rf.fit(X_train,y_train)

C:\Users\PRAJWAL\AppData\Local\Temp\ipykernel_17312\1593328843.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train,y_train)

RandomForestClassifier(oob_score=True)

In [33]:
rf.oob_score_

0.9111380880121396

In [34]:
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9162418062636563

In [35]:
y_pred_train = rf.predict(X_train)
accuracy_score(y_train,y_pred_train)

0.9999393019726859

In [36]:
rf.feature_importances_

array([8.49289526e-02, 2.94207455e-01, 4.16003495e-02, 3.06792088e-02,
       1.35140256e-02, 2.51812021e-02, 2.53720703e-02, 2.47273302e-02,
       9.56946475e-02, 5.23557231e-02, 8.87206554e-03, 4.13455790e-03,
       3.26062160e-03, 7.50904448e-03, 5.85164685e-03, 4.63469322e-03,
       6.93602159e-03, 4.87541966e-03, 1.11493302e-02, 3.83847377e-03,
       2.03775028e-03, 1.31886890e-02, 1.19413020e-02, 4.95954069e-04,
       4.56011792e-03, 8.10413233e-03, 1.18035490e-02, 2.16700493e-04,
       8.96159879e-03, 1.27432789e-02, 5.39696573e-03, 8.56365604e-03,
       0.00000000e+00, 2.36092245e-03, 1.95384191e-02, 2.52125916e-03,
       1.32611950e-02, 1.09195166e-02, 2.60120856e-03, 6.36887918e-04,
       2.75880139e-03, 2.68368295e-03, 4.50356517e-03, 6.17936809e-03,
       2.24301425e-03, 5.11861390e-03, 1.96052310e-03, 1.18141981e-02,
       1.17843527e-02, 1.12217426e-02, 1.19906039e-02, 9.63399691e-03,
       2.89315944e-02])

In [42]:
rf.feature_importances_[0]

0.084928952582969

In [41]:
X.columns

Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'marital_unknown',
       'education_basic.6y', 'education_basic.9y', 'education_high.school',
       'education_illiterate', 'education_professional.course',
       'education_university.degree', 'education_unknown', 'default_unknown',
       'default_yes', 'housing_unknown', 'housing_yes', 'loan_unknown',
       'loan_yes', 'contact_telephone', 'month_aug', 'month_dec', 'month_jul',
       'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct',
       'month_sep', 'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_nonexistent', 'poutcome_success'],
      dtype='object')

In [39]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            41188 non-null  int64
 1   duration                       41188 non-null  int64
 2   campaign                       41188 non-null  int64
 3   pdays                          41188 non-null  int64
 4   previous                       41188 non-null  int64
 5   emp.var.rate                   41188 non-null  float64
 6   cons.price.idx                 41188 non-null  float64
 7   cons.conf.idx                  41188 non-null  float64
 8   euribor3m                      41188 non-null  float64
 9   nr.employed                    41188 non-null  float64
 10  job_blue-collar                41188 non-null  bool
 11  job_entrepreneur               41188 non-null  bool
 12  job_housemaid                  41188 non-null  bool
 13  job_management                 41188 non-null  bool
 14  job_retired                    41188 non-null  bool
 15  job_self-employed              41188 non-null  bool
 16  job_services                   41188 non-null  bool
 17  job_student                    41188 non-null  bool
 18  job_technician                 41188 non-null  bool
 19  job_unemployed                 41188 non-null  bool
 20  job_unknown                    41188 non-null  bool
 21  marital_married                41188 non-null  bool
 22  marital_single                 41188 non-null  bool
 23  marital_unknown                41188 non-null  bool
 24  education_basic.6y             41188 non-null  bool
 25  education_basic.9y             41188 non-null  bool
 26  education_high.school          41188 non-null  bool
 27  education_illiterate           41188 non-null  bool
 28  education_professional.course  41188 non-null  bool
 29  education_university.degree    41188 non-null  bool
 30  education_unknown              41188 non-null  bool
 31  default_unknown                41188 non-null  bool
 32  default_yes                    41188 non-null  bool
 33  housing_unknown                41188 non-null  bool
 34  housing_yes                    41188 non-null  bool
 35  loan_unknown                   41188 non-null  bool
 36  loan_yes                       41188 non-null  bool
 37  contact_telephone              41188 non-null  bool
 38  month_aug                      41188 non-null  bool
 39  month_dec                      41188 non-null  bool
 40  month_jul                      41188 non-null  bool
 41  month_jun                      41188 non-null  bool
 42  month_mar                      41188 non-null  bool
 43  month_may                      41188 non-null  bool
 44  month_nov                      41188 non-null  bool
 45  month_oct                      41188 non-null  bool
 46  month_sep                      41188 non-null  bool
 47  day_of_week_mon                41188 non-null  bool
 48  day_of_week_thu                41188 non-null  bool
 49  day_of_week_tue                41188 non-null  bool
 50  day_of_week_wed                41188 non-null  bool
 51  poutcome_nonexistent           41188 non-null  bool
 52  poutcome_success               41188 non-null  bool
dtypes: bool(43), float64(5), int64(5)
memory usage: 4.8 MB

In [54]:
for column in X.columns,feature in rf.feature_importances_:
    print(feature,column)

0.02893159444019775 Index(['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'marital_unknown',
       'education_basic.6y', 'education_basic.9y', 'education_high.school',
       'education_illiterate', 'education_professional.course',
       'education_university.degree', 'education_unknown', 'default_unknown',
       'default_yes', 'housing_unknown', 'housing_yes', 'loan_unknown',
       'loan_yes', 'contact_telephone', 'month_aug', 'month_dec', 'month_jul',
       'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct',
       'month_sep', 'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_nonexistent', 'poutcome_success'],
      dtype='object')
0.02893159444019775 True

In [51]:
for feature in rf.feature_importances_:
    print(feature,column)

0.084928952582969 True
0.29420745473518595 True
0.04160034947693572 True
0.030679208830902905 True
0.013514025601012383 True
0.02518120209974541 True
0.02537207025956462 True
0.02472733018476238 True
0.09569464748960177 True
0.05235572312151228 True
0.008872065544310912 True
0.0041345578964535916 True
0.003260621603444225 True
0.007509044480841879 True
0.005851646847671545 True
0.004634693221547633 True
0.006936021589971091 True
0.004875419655884341 True
0.011149330152760893 True
0.0038384737653616853 True
0.002037750282969294 True
0.013188688973840866 True
0.011941302033788837 True
0.0004959540688162086 True
0.004560117921109691 True
0.008104132326863932 True
0.011803548989367444 True
0.0002167004933805394 True
0.008961598793357313 True
0.0127432789486066 True
0.0053969657288166495 True
0.00856365604256139 True
0.0 True
0.0023609224543103932 True
0.01953841905045733 True
0.0025212591647861774 True
0.01326119500418076 True
0.010919516559189577 True
0.0026012085555819093 True
0.0006368879178737925 True
0.0027588013884062706 True
0.0026836829525353372 True
0.004503565172883002 True
0.006179368089088871 True
0.0022430142516028607 True
0.005118613896634423 True
0.0019605230951362383 True
0.011814198111505882 True
0.011784352680306946 True
0.0112217426213121 True
0.011990603943616443 True
0.009633996906474979 True
0.02893159444019775 True

In [63]:
dict(X.columns,rf.feature_importances_)

TypeError: unhashable type: 'Index'

In [83]:
zipped=zip(X.columns,rf.feature_importances_)

In [84]:
list(zipped)

[('age', 0.084928952582969),
 ('duration', 0.29420745473518595),
 ('campaign', 0.04160034947693572),
 ('pdays', 0.030679208830902905),
 ('previous', 0.013514025601012383),
 ('emp.var.rate', 0.02518120209974541),
 ('cons.price.idx', 0.02537207025956462),
 ('cons.conf.idx', 0.02472733018476238),
 ('euribor3m', 0.09569464748960177),
 ('nr.employed', 0.05235572312151228),
 ('job_blue-collar', 0.008872065544310912),
 ('job_entrepreneur', 0.0041345578964535916),
 ('job_housemaid', 0.003260621603444225),
 ('job_management', 0.007509044480841879),
 ('job_retired', 0.005851646847671545),
 ('job_self-employed', 0.004634693221547633),
 ('job_services', 0.006936021589971091),
 ('job_student', 0.004875419655884341),
 ('job_technician', 0.011149330152760893),
 ('job_unemployed', 0.0038384737653616853),
 ('job_unknown', 0.002037750282969294),
 ('marital_married', 0.013188688973840866),
 ('marital_single', 0.011941302033788837),
 ('marital_unknown', 0.0004959540688162086),
 ('education_basic.6y', 0.004560117921109691),
 ('education_basic.9y', 0.008104132326863932),
 ('education_high.school', 0.011803548989367444),
 ('education_illiterate', 0.0002167004933805394),
 ('education_professional.course', 0.008961598793357313),
 ('education_university.degree', 0.0127432789486066),
 ('education_unknown', 0.0053969657288166495),
 ('default_unknown', 0.00856365604256139),
 ('default_yes', 0.0),
 ('housing_unknown', 0.0023609224543103932),
 ('housing_yes', 0.01953841905045733),
 ('loan_unknown', 0.0025212591647861774),
 ('loan_yes', 0.01326119500418076),
 ('contact_telephone', 0.010919516559189577),
 ('month_aug', 0.0026012085555819093),
 ('month_dec', 0.0006368879178737925),
 ('month_jul', 0.0027588013884062706),
 ('month_jun', 0.0026836829525353372),
 ('month_mar', 0.004503565172883002),
 ('month_may', 0.006179368089088871),
 ('month_nov', 0.0022430142516028607),
 ('month_oct', 0.005118613896634423),
 ('month_sep', 0.0019605230951362383),
 ('day_of_week_mon', 0.011814198111505882),
 ('day_of_week_thu', 0.011784352680306946),
 ('day_of_week_tue', 0.0112217426213121),
 ('day_of_week_wed', 0.011990603943616443),
 ('poutcome_nonexistent', 0.009633996906474979),
 ('poutcome_success', 0.02893159444019775)]

In [70]:
print(sorted_feature_imp)

None